datasets
scipy
hf_transfer
huggingface
wandb
wheel
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/accelerate
git+https://github.com/huggingface/peft
git+https://github.com/huggingface/trl
bitsandbytes
deepspeed
einops
sentencepiece
nltk
xformers